<div class="container">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
      <a class="navbar-brand" [routerLink]="'.'"><img src="../assets/01_Sy_Logo_RGB_Bildmarke.png" width="30"
                                                      height="30" alt=""> WebApp - Tutorials</a>

      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
      </button>

      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="'/tutorials'" (click)="isMenuCollapsed = true">List Tutorials</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="'/wiki'" (click)="isMenuCollapsed = true">List Wikis</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="'addTutorial'" (click)="isMenuCollapsed = true">Add Tutorial</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body-top">
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/tutorials" class="btn test btn-info">List Tutorials</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/wiki" class="btn test btn-info">List Wikis</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/addTutorial" class="btn test btn-info">Add Tutorial/Wiki</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
